{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
	<title> Vlab login</title>
	<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" />
</head>
<script>
function validateForm() {
    var x = document.forms["myForm"]["email"].value;
    var y = document.forms["myForm"]["password"].value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
   	var nyupos = x.substring(atpos+1,dotpos);
    var edupos = x.substring(dotpos+1,x.length)
    if(y.length==0){
    	document.forms["myForm"]["password"].value="";
    	alert("Password cannot be empty");
    	return false;
    }
    if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) 
    	{
    	document.forms["myForm"]["email"].value="";
    	document.forms["myForm"]["password"].value="";
        alert("Not a valid e-mail address");
        return false;
    	}
    else{
        if(nyupos!="nyu" || edupos!="edu")
            {
            	document.forms["myForm"]["email"].value="";
            	document.forms["myForm"]["password"].value="";
                alert("Enter NYU Email ID");
                return false; 
            }
           
        }
        
}

</script>
<style type="text/css">
.jumbotron {
  	height: 350px !important;
  	background-position: 0% 25%;
  	background-color: #53118d;
}
.jumbotron1 {
  	height: 350px !important;
  	background-color:white
}
 .btn btn-lg btn-info {
    padding: 18px 28px;
   	font-size: 22px; //change this to your desired size
   	line-height: normal;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
    border-radius: 8px;
}
</style>

<body>
	{% block main %}
	<div class="jumbotron">
		<div class="col-md-10" style="position: absolute; left: 29%; right: 30%; top: 10%">
			<img src="/static/img/polylogo1.png"/>
		</div>
		<div class="container">
		<div style="position: absolute; left: 30%; right: 30%; border: solid lightblue 1px; top: 18%;" class="jumbotron1">
			<div class="container">
				<li>
  			<a>{{ user.email}} </a>
  				</li>
				<div style="position: relative; right: 35%; left: 35%;">
	 					<h3><strong><font size="5" color="#53118d">NYU Login</font></strong></h3>
	 			</div>
	 			<div style="position: relative; right: 35%; left: 35%;">
	 					<p>Login to <strong>Vlab</strong></p>
	 			</div>
	 			<form class="form-horizontal" role="form" method="post" onsubmit="return validateForm();" name="myForm">{% csrf_token %}
	 				 <!--{% csrf_token %}-->
		 				<!--<div class="form-group">
		 					<div style="position: relative; right: 25%; left: 25%;">
		 						<label for="username">NetID </label> 
		 					</div>
		 					<div class="col-sm-6" style="position: relative; right: 20%; left: 22%;" >
		 						<input type="text"  class="form-control" id="name" name="email" /> 
							</div>
						</div>
						<div class="form-group">
							<div style="position: relative; right: 25%; left: 25%;">
	 							<label for="password">Password</label>
	 						</div>
							<div class="col-sm-6" style="position: relative; right: 20%; left: 22%;">
	 							<input type="password"  class="form-control" id="password" name="password" />
							</div>
						</div>-->
						<div class="form-group">
							<div class="col-sm-6" style="position: relative; right: 40%; left: 35%; bottom: 80%;">
	 							<button type="submit" class="btn btn-lg btn-info" onclick="vlabdemo/vlabhome" autofocus>LOGIN</button>
	 						</div>
	 					</div>
 				</form>
			</div>
		</div>
		</div>
		 <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
	<div class="col-md-5" style="position: absolute; left: 29%; right: 40%; top: 72%; bottom: 10%">
	<p> <a href="mailto:cselabs-team-group@nyu.edu"><font size="2" color=" darkpink"> Need Help? </font></a> </p>
	</div>
	</div>
	{% endblock %}
</body>
</html>