 {% extends 'thirdauth/base.html' %}

{% block main %}
  <div>
      <h1>Login into todolist</h1>
        <p>
          <ul>
              {% if user and not user.is_anonymous %}
              <li>
                  <a>Hello {{ user.get_full_name|default:user.username }}!</a><br>
                  <h2> Friends Details </h2>
                  
                  
              </li>
              <li>
                  <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
              </li>
              {% else %}
              <li>
                  <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
              </li>
              {% endif %}
          </ul>
        </p>
  </div>
 {% endblock %}